.container{
position: relative;
}
.bgimage {
    background-image: url("../img/bg-bbva.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    filter:opacity(50%);
    z-index: -1;
}
.showTime{
    margin-top:105px;
    transition: 0.6s;
    min-height: 79vh;
    height: 100%;
}
.content {
    z-index: 1;
    width: 100%;
    position: relative;
}

* {box-sizing: border-box;}

.navbar {
overflow: hidden;
background-color: #043263;
padding: 25px 10px;
transition: 0.4s;
position: fixed;
width: 100%;
top: 0;
z-index: 99;
}

.navbar a {
float: left;
color: #49a5e6;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px; 
line-height: 25px;
border-radius: 4px;
}

.navbar .logoNav {
width: 150px;
transition: 0.4s;
}

.navbar a:hover {
background-color: #49a5e6;
color: #072146;
}

.navbar a.active {
background-color: dodgerblue;
color: white;
}

.navbar-right {
float: right;
}

@media screen and (max-width: 580px) {
.navbar {
    padding: 20px 10px !important;
}
.navbar a {
    float: none;
    display: block;
    text-align: left;
}
.navbar-right {
    float: none;
}
}
.footer 
{
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: #043263;
    color: #49a5e6;
}
.landing-nav-bar{
    background-color: #043263;
}

.logo-icon{
    width:20px;
    height:20px;
    fill:#49a5e6;
    transition: 0.4s;
}
a:hover .logo-icon{
    fill:#072146;
}

.saludo-centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%);
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    padding: 0px 25px;
}

.logo-persona{
    margin: 20px 0px;
    margin-left: auto;
    margin-right: auto;
}
.saludo{
    text-align: center;
    color:#072146;
}
.nombre{
    text-align: center;
    color:#2dcccd;
}