.container{
position: relative;
}
.bgimage {
  background-image: url("../img/bg-bbva.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  filter:opacity(50%);
}
.logo{
  width: 200px;
  margin-bottom: 20px;
  padding: 0 10%;
  position: relative;
}
.h2-center{
  text-align: center;
  color: #2dcccd;
}
.login-div {
    background-color: white;
    top: 50%;
    left: 50%;
    width: 280px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    transition: box-shadow 0.6s ease-out 100ms
}
.login-div:hover{
    border: 1px solid;
    border-color: #49a5e6;
    box-shadow: 0px 0px 15px 5px #49a5e6;
}
.inline{
  display: inline-block;
  margin: 1em;
  vertical-align: middle;
  width:100%;
}
.logo-icon{
  position: absolute;
  display: inline-block;
  width:20px;
  height:20px;
}
.input-form{
  width:75%;
  color:#49a5e6;
  margin-left:25px;
  border-width: 0 0 1px;
  border-color: #49a5e6;
  outline-width: 0;
  transition: all 0.2s ease-out 100ms
}
.input-form:hover{
  border-width: 0 0 2px;
}
.input-form:focus{
  border-width: 0 0 2px;
}
.button-login {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:80%;
  font-size: 15px;
  margin: 10px 10px 0 10px;
}