table.TablaMovimientos {
    border: 2px solid #49A5E6;
    background-color: #FFFFFF;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    position:absolute;
    margin: 2% 10%;
  }
  table.TablaMovimientos td, table.TablaMovimientos th {
    border: 1px solid #AAAAAA;
    padding: 7px 0px;
  }
  table.TablaMovimientos tbody td {
    font-size: 13px;
    color: #043263;
  }
  table.TablaMovimientos tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.TablaMovimientos thead {
    background: #1E90FF;
    background: -moz-linear-gradient(top, #56acff 0%, #349bff 66%, #1E90FF 100%);
    background: -webkit-linear-gradient(top, #56acff 0%, #349bff 66%, #1E90FF 100%);
    background: linear-gradient(to bottom, #56acff 0%, #349bff 66%, #1E90FF 100%);
    border-bottom: 2px solid #444444;
  }
  table.TablaMovimientos thead th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
  table.TablaMovimientos thead th:first-child {
    border-left: none;
  }
  
  table.TablaMovimientos tfoot td {
    font-size: 14px;
  }
  table.TablaMovimientos tfoot .links {
    text-align: right;
  }
  table.TablaMovimientos tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }